@model BooksForAdoption.Models.Requests

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecieverMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecieverMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonatorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonatorMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonatorMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonatorNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonatorNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
