@model IEnumerable<BooksForAdoption.Models.Requests>
@using Microsoft.AspNetCore.Identity
@using BooksForAdoption.Models
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BooksForDonation.styles.css" asp-append-version="true" />

<!------ Include the above in your HEAD tag ---------->
<div class="container mt-5">
        <div class="row">
            @foreach (var item in Model){
            @if(@item.RequestDate<=item.ShipDate){
            <div class="col-md-4">
                <div class="card p-3 w-75 ">
                    <div class="d-inline-flex  p-2 align-middle"><img class="card-img-top"src=@item.bookData(item.ISBN).ImageLink width="160" asp-controller="Books" asp-action="Details" asp-route-id="@item.bookData(item.ISBN).BookID" height="350" style="align-self:center;">
                    </div>
                    <a asp-controller="Books" asp-action="Details" style="text-decoration: none;color:black;" asp-route-id="@item.bookData(item.ISBN).BookID">@item.bookData(item.ISBN).Title</a>
                    <div class="d-flex justify-content-between install mt-3">
                        <div class="d-flex justify-content-between install mt-3">
                            @if((@DateTime.Now-@item.RequestDate).Days >= 1){
                        <span>@((@DateTime.Now-@item.RequestDate).Days) Days Ago</span>
                                    
                                }
                            @if((@DateTime.Now-@item.RequestDate).Hours >= 1 && (@DateTime.Now-@item.RequestDate).Days < 1){
                        <span>@((@DateTime.Now-@item.RequestDate).Hours) Hours Ago</span>
                                    
                                }
                            @if((@DateTime.Now-@item.RequestDate).Hours < 1 && (@DateTime.Now-@item.RequestDate).Days < 1){
                        <span>@((@DateTime.Now-@item.RequestDate).Minutes) Minutes Ago</span>
                                }
                        </div>
                          <div class="d-flex justify-content-between install mt-3">
                        @if (User.Identity.Name != item.RecieverMail)
                        {
                           @if (SignInManager.IsSignedIn(User)){
                              <a class="w-100 btn btn-lg btn-primary" asp-action="Details" asp-route-id="@item.RequestID">Donate ₺@item.bookData(item.ISBN).Price.ToString("F")</a>
                            }
                            @if (!SignInManager.IsSignedIn(User)){
                            
                               <a class="w-100 btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Register">Donate ₺@item.bookData(item.ISBN).Price.ToString("F")</a>
                        }
                        }
                        </div>
                    </div>
                </div>
            </div>
            }}
        </div>
</div>