@model IEnumerable<BooksForAdoption.Models.Requests>
@using BooksForAdoption.Models
@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BooksForDonation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BooksForDonation.styles.css" asp-append-version="true" />
    <style>import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');*{padding: 0;margin: 0;box-sizing: border-box}body{background-color: #222;font-family: 'Poppins', sans-serif}.wrapper{background-color: #222;min-height: 100px;max-width: 800px;margin: 10px auto;padding: 10px 30px}.dark,..nav-item .nav-link{color: #bbb;border: none}.nav.nav-tabs .nav-link.active{background-color: #222;border: none;color: #fff;border-bottom: 4px solid #fff}.nav.nav-tabs .nav-item .nav-link:hover{border: none;color: #eee}.nav.nav-tabs .nav-item .nav-link.active:hover{border-bottom: 4px solid #fff}.nav.nav-tabs .nav-item .nav-link:focus{border-bottom: 4px solid #fff;color: #fff}.table-dark{background-color: #222}.table thead th{text-transform: uppercase;color: #bbb;font-size: 12px}.table thead th, .table td, .table th{border: none;overflow: auto auto}td .fa-briefcase, td .fa-bed, td .fa-exchange, td .fa-cutlery{color: #ff6347;background-color: #444;padding: 5px;border-radius: 50%}td .fa-bed, td .fa-cutlery{color: #40a8c4}td .fa-exchange{color: #b15ac7}tbody tr td .fa-cc-mastercard, tbody tr td .fa-cc-visa{color: #bbb}tbody tr td.text-muted{font-family: 'Lato', sans-serif}tbody tr td .fa-long-arrow-up, tbody tr td .fa-long-arrow-down{font-size: 12px;padding-left: 7px;padding-top: 3px;height: 20px;width: 20px}.results span{color: #bbb;font-size: 12px}.results span b{font-family: 'Lato', sans-serif}.pagination .page-item .page-link{background-color: #444;color: #fff;padding: 0.3rem .75rem;border: none;border-radius: 0}.pagination .page-item .page-link span{font-size: 16px}.pagination .page-item.disabled .page-link{background-color: #333;color: #eee;cursor: crosshair}.media(min-width:768px) and (max-width: 991px){.wrapper{margin: auto}.navbar-nav:last-child{display: flex;align-items: start;justify-content: center;width: 100%}.notify{display: inline}.nav-item .fa-search{padding-left: 10px}.navbar-nav .nav-item{padding: 0px}}.media(min-width: 300px) and (max-width: 767px){.wrapper{margin: auto}.navbar-nav:last-child{display: flex;align-items: start;justify-content: center;width: 100%}.notify{display: inline}.nav-item .fa-search{padding-left: 10px}.navbar-nav .nav-item{padding: 0px}#income{border: none}}.media(max-width: 400px){.wrapper{padding: 10px 15px;margin: auto}.btn{font-size: 12px;padding: 10px}.nav.nav-tabs .nav-link{padding: 10px}}</style>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start">
      <a class="navbar-brand">
         Requests 
         <p class="text-muted pl-1">All of your requests.</p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> 
      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
   </nav>
   <div class="d-flex justify-content-between align-items-center mt-3">
      <ul class="nav nav-tabs w-75">
         <li class="nav-item"> <a class="nav-link active" href="#history">History</a> </li>
      </ul>
   </div>
   <div class="table-responsive mt-3">
      <table class="table table-dark table-borderless">
         <thead>
            <tr>
               <th scope="col">Activity</th>
               <th scope="col">Status</th>
               <th scope="col">Date</th>
               <th scope="col" class="text-right">Amount</th>
               <th scope="col" class="text-right">Actions</th>
            </tr>
         </thead>
         <tbody>
             @Model.OrderByDescending(a => a.ShipDate);
             @foreach (var item in Model) {
                @if(User.Identity.Name==item.RecieverMail){
               <tr>
               <td scope="row"><a asp-controller="Books" asp-action="Details" style="text-decoration: none;color:white;" asp-route-id="@item.bookData(item.ISBN).BookID">@item.bookData(item.ISBN).Title</a></td>>
                @{
                        @if (item.RequestDate < item.ShipDate)
                        {
                            <td scope="row"> <span class="bi bi-book"></span>Shipped</td>
                        }
                        else
                        {
                           <td scope="row"> <span class="bi bi-book"></span> Waiting</td>
                        }   
                    }
               <td class="text-muted">@item.RequestDate</td>
               <td class="text-muted">₺@item.bookData(item.ISBN).Price.ToString("F")</td>
               <td class="d-flex justify-content-end align-items-center"><a class="w-100 btn btn-lg btn-primary" asp-action="History" asp-route-id="@item.RequestID">View</a>

               </tr>
          }}  
         </tbody>
      </table>
   </div>
</body>